/* font-family: 'Merriweather', serif; */
/* font-family: 'Inter', sans-serif; */

/* shared styles */
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  width: 82.5%;
  margin: 0 auto;
}
.header-banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../assests/Banner-Image.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  font-family: Merriweather;
  margin-top: 50px;
  text-align: center;
}
.greet {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  padding-top: 175px;
}
.header-banner-title {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  padding: 20px 344px 190px;
}
/* header-banner end */

/* main section start */
/* hot deal start */
#hot-deal-container {
    margin: 120px auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.deal-off{
    color: #F00;
    font-size: 80px;
    font-weight: 700;
    padding-bottom: 40px;
}
.deal-holiday{
    color: #F00;
    font-size: 20px;
    font-weight: 500;
}
.deal-category{
    color: #070211;
    font-size: 40px;
    font-weight: 700;
    padding: 10px 0 45px;
}
.deal-img{
    width: 780px;
    height: 450px;
}
/* hot-deal ends */
/* party banner start */
.party-banner{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../assests/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;
}
.party-banner-text{
    max-width: 600px;
    font-family: Merriweather;
    padding: 120px 0 0 100px;
}
.party-title{
    color: #FFF;
    font-size: 60px;;
    font-weight: 800;
    letter-spacing: 6px;
    padding-bottom: 20px;
}
.party-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}
.party-btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    padding-bottom: 140px;
    padding-left: 30px;
    transition: all .1s ease-in-out;
}
.party-btn:hover{
    color: grey;
    transform: scale(1.08);
}
.party-img{
    width: 300px;
    height: 450;
}
/* party banner ends */
.portfolio{
    text-align: left;
}
.portfolio-gift{
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 16px;
}
.portfolio-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 20px;
}
.portfolio-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 48px;
    max-width: 900px;
}
.portfolio-img{
    border-radius: 16px;
    display: flex;
}
.portfolio-img .col{
    flex: 33.33%;
    padding: 5px;
}
.portfolio-img img:hover{
    border: 6px solid grey;
    border-radius: 16px;
}
/* newsletter style start */
.newsletter{
    margin: 120px auto;
    text-align: center;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
}
.newsletter-img{
    width: 150px;
    height: 150px;
    padding-bottom: 40px;
}
.newsletter-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 8px;
}
.newsletter-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding: 0 200px 48px;
}
.newsletter-subcription{
    padding-bottom: 80px;
}
.newsletter-email{
    width: 450px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    background-color: #FFF;
    font-size: 20px;
    padding-left: 25px;
    border: none;
    margin-right: -2px;
    outline: none;
}
.subscribe-btn{
    width: 170px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
}
/* footer styles starts */
footer{
    max-width: 1600px;
    background-color: #070211;
    margin: 0 auto;
}

.contact{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 280px 50px 120px;
}
.contact-item{
    display: flex;
    align-items: center;
    padding: 3px;
}
#address{
    max-width: 375px;
}
.line{
    background-color: rgba(255, 255, 255, 0.15);
    margin: 0 140px;
    height: 3px;
    border: none;
}
.line:hover{
    border:2px solid blue;
} 

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 50px auto;
}
.copyright{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 140px 120px;
}
.unsubscribe-btn{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    border: none;
    background-color: transparent;
}

/* schedule style starts */
.schedule{
    margin: 120px auto;
    text-align: center;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    font-family: Inter;
}

.item-red{
    color: #F00 !important;
    font-size: 30px;
    font-weight: 600;
}
.schedule-item{
    color: #070211;
    font-size: 28px;
    font-weight: 600;
}
.schedule-items{
    padding: 100px 0 48px;
}
.join-now-btn{
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #F00;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
.schedule-btn{
    padding-bottom: 120px;
}

/* promo styles starts */
.promo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    margin-bottom: 120px;
}
.promo-offer{
    max-width: 380px;
}
.promo-offer-heading{
    color: #F00;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}
.promo-offer-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 15px;
}
.promo-offer-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}
.promo-ney-year{
    max-width: 270px;
    font-family: Inter;
}
.promo-year{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 10px;
}
.promo-descripion{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 30px;
}
.promo-ney-year img{
    width: 130px;
    height: 130px;
}
.promo-img img{
    height: 360px;
    width: 360px;
    border-radius: 460px 460px;
    border: 1px solid #fff;
    outline: 12px solid red;
    outline-offset: 15px;
}
/* holiday sale starts  */
.holiday-sale{
    margin: 120px auto;
}
.sale-text{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.sale-heading{
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}
.sale-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
}
.sale-title-red{
    color: #F00 !important;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 20px;
}
.sale-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding-bottom:50px;
}
/* sale-imgs start */
.sale-imgs{
    height : 540px;
    background-image: url('../assests/Rectangle2.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1320px 140px;
}
.img-box{
    max-width:450px;
    height:450px;
    position: relative;
    top:80px;
    left: 50px;
}
.img-girl{
    max-width:350px;
    height:400px;
    position:relative;
    top:-50px;
    left:55px;
    z-index: 1;
}
.img-offer{
    max-width: 250px;
    height: 250px;
    position: relative;
    top:-110px;
    left:180px;
    z-index: 2;
}